main {
    grid-template-columns: 20% 60% 20%;
}

.accesibility {
    margin-bottom: 3rem;
}

.accesibility h1 {
    text-align: center;
}

.accesibility p {
    text-align: justify;
    margin-bottom: 3rem;
}