.accesibility {
    margin-bottom: 3rem;
}

.accesibility h1 {
    text-align: center;
}

.accesibility p {
    text-align: justify;
    margin-bottom: 3rem;
}

@media(max-width: 767px) {
    main {
        grid-template-columns: 5% 90% 5%;
    }
}