main {
    grid-template-columns: 12.5% 75% 12.5%;
}

#breadcrumb {
    background-color: var(--orange);
    grid-column: 1/4;
}

ul.breadcrumb li {
    color: rgba(255, 255, 255, 0.2);
}

/* Símbolo (/) antes de cada li */
ul.breadcrumb li+li:before {
    color: var(--title);
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: var(--title);
}

ul.breadcrumb li a:hover {
    color: var(--blue);
}

.contact-tel-email {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.contact-tel-email article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.icon {
    width: 75px;
    height: 75px;
    margin: 1rem 0rem;
    fill: var(--blue);
}

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;
}

.faq {
    text-align: center;
    justify-self: center;
    margin-bottom: 20px;
}

.faq p {
    text-align: center;
}