main {
    grid-template-columns: 20% 60% 20%;
}

.cookiespol ul {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        margin: 1rem;
        color: var(--text);
        text-align: justify;
        margin-left:8%;
}

.cookiespol li {
    margin-bottom: 1rem;
}

.cookiespol p {
    text-align: justify;
    margin-bottom: 1rem;
}