main {
    grid-template-columns: 20% 60% 20%;
}

.privacy {
    margin-bottom: 3rem;
}

.privacy h1 {
    text-align: center;
}

.privacy ul {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    margin: 1rem;
    color: var(--text);
    text-align: justify;
    margin-left: 8%;
}

.privacy li {
    margin-bottom: 1rem;
}

.privacy p {
    text-align: justify;
    margin-bottom: 1rem;
}